#cc-main {
  /** Change font **/
  --cc-font-family: var(--font-family-base);
  font-size: var(--font-size-base);

  /** Change button primary color to custom **/
  --cc-btn-primary-bg: var(--color-primary);
  --cc-btn-primary-border-color: #000000;
  --cc-btn-primary-hover-bg: white;
  --cc-btn-primary-hover-color: var(--color-primary);
  --cc-btn-primary-hover-border-color: var(--color-primary);
  /** Also make toggles the same color as the button **/
  --cc-toggle-on-bg: var(--cc-btn-primary-bg);
  --cc-modal-border-radius: var(--radius-lg);
  --cc-btn-border-radius: var(--radius-sm);

  /* Links */
  a,
  .cc__link {
    color: var(--color-link);
    background-image: none;
    text-decoration: underline;
  }

  a:hover,
  .cc__link:hover {
    color: var(--color-link-hover);
  }

  /* Shadow */
  .cm {
    box-shadow: 0 calc(var(--drop-shadow-amount) * 0.25em)
      calc(var(--drop-shadow-amount) * 0.6em) var(--drop-shadow-color);
  }
}
